body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: 420;
    line-height: 26.4px;
    margin-top: 35px;
    padding: 5px;
}

h3 {
    color: white;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 105;
    margin-top: 35px;
    padding: 5px;
}

.piano {
    padding: 5px;
    width: 42%;
}

audio {
    margin-top: 5px;
    width: 42%
}